@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
display: block;
  overflow-x: hidden;
  background-color: #000000ed;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}


/* header */

/* header */
header .hed img {
  display: block;
  width: 100%;
  height: auto;
}

.hed img:nth-of-type(2) {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 45%;
  top: 40%;
}

header .hed {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 100px;

}

header .hed p {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.aaa {
  margin-bottom: -20px;
}

.aaa h2 {
  letter-spacing: 16px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

section h2 {
  color: white;
  writing-mode: vertical-rl;
  margin: auto;
}

/* section1 */
.main {
  margin: 10px 10px 0 10px;
  padding: 50px 20px;
}

.main img {
  display: block;
  width: 100%;
  height: auto;
}
.desc {
  color: white;
}

/* お品書き */
.img2 {
  list-style: none;
  padding: 40px;
}

.aaa {
  margin-bottom: 50px;
}

.img2 li {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 200px;
}

.img2 img {
  width: 250px;
  height: 130px;
  text-align: center;
}

/* お品書き */
.img2 {
  list-style: none;
  margin: 15px;
  padding: 0;
  text-align: center;
}

.aaa {
  margin-bottom: 80px;
}

.img2 li {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 280px;
}

.img2 img {
  width: 300px;
  height: 230px;
}

.img2 h2 {
  color: white;
}

.img2 p {
  color: white;
  font-size: 14px;
}

/* section img3 */
.img3 {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: 100px;
}

/* main1*/

.main1 {
  margin: 60px 20px 0px 20px;

}

.main1 img {
  width: 100%;
  height: 300px;
}

.desc a {
  all: unset;
  border: 1px solid white;
  color: #fbfeff;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 30px;

}

.desc p {
  padding-bottom: 42px;
  font-size: 14px;

}

.desc a:hover {
  background-color: white;
  transition: none;
  color: black;
}

span {
  font-size: 160%;
}

.yyy .img {
  display: block;
  width: 100%;
  height: auto;
}

.yyy {
  margin: 20px 10px 0 65px;
}

/* 良くある質問 */


.aa1 {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  writing-mode: vertical-rl;
}

/* qqq */
.qqq {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  margin-top: 10px;
  width: 80%;
}



dl div {
  padding: 8px 8px;
}

.i99 p {
  margin: 8px;
  font-size: 16px;
}
dt{
  margin: 12px;
}
.img5 {
  position: relative;
}

.img5 img {
  width: 100%;
  height: 1700px;
}

/* お知らせ */

.aa9 {
  margin: 14px 0 0 10px;
  color: white;
  text-align: center;
}

.aa9 h3 {
  font-size: 18px;
  font-weight: normal;
}

.timeline {
  padding: 12px 10px;
  padding-bottom: 30px;
}

.timeline1 {
  margin: 0px;
  padding: 16px;
  text-align: center;

}

.timeline1 p {
  padding: 6px;
  font-size: 14px;
  color: white;
}

.timeline .eee {
  text-align: center;
  margin: 40px 50px;
}

.timeline a {
  all: unset;
  border: 1px solid white;
  color: #fbfeff;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 70px;
  margin: 30px 0 0 0;
}

.btn1 {
  margin: 0;
  padding: 10px 10px
}

.timeline a:hover {
  background-color: white;
  transition: none;
  color: black;
}

.eee p:hover {
  color: rgba(146, 146, 247, 0.792);
}

/* out */

.out .out1 .img7 {
  display: block;
  width: 100%;
  height: auto;
}
.out{
  text-align: center;
  margin: 0;
}

.out .out1 {
  display: inline-block;
  text-align: center;
}

.out .ttt {
      text-align: center;
     margin: 0 auto;
      color: white;
      margin-bottom: 30px;
}

.tot p {
  margin: 20px 0px;
}

.out a {
  all: unset;
  border: 1px solid white;
  color: #fbfeff;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 15px;
  margin: 0 auto;
margin-bottom: 5px;
}

.out a:hover {
  background-color: white;
  transition: none;
  color: black;
}
.out .img6 {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  left: 47%;
  top: 1485%;
}

/* acces */
.kkk {
  position: relative;
}

.fin1 {
 margin: 0;
 text-align: center;
 left: 12%;
}

iframe {
  position: absolute;
  height: 350px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.img88 {
  position: absolute;
  top: 3%;
  left: 43%;
  width: 80px;
  height: 80px;
  display: block;
}

.access1 p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.access1 {
  margin: 18px;
}

.aa100 h2 {
  position: absolute;
  top: 12%;
  color: white;
  font-size: 20px;
  letter-spacing: 10px;
  margin: 0 auto;
left: 48%;
  font-weight: normal;
}

.fin1 {
  position: absolute;
  top: 20%;
  text-align: center;
  margin-top: 40px;
width: 100%;
height: 400px;
}

.access {
  position: absolute;
  top: 45%;
  margin-top: 10px;
  margin: 50px;
}

.kkkk {
  width: 100%;
  height: 1400px;
}

/* footer */

footer {
  position: absolute;
  bottom: 80px;
  left: 35%;
  text-align: center;
  padding: 6px;
}

small {
  font-size: 8px;
  color: white;
}

*  */
.oo0{
  width: 10px;
  height: 10px;
  margin: 0 0 0 150px;
  margin-bottom: 60px;
}
/* main3*/

.main3 {
  background: white;
  margin: 5px;
  padding: 5px;
}
.main3 h3{
  font-size: 16px;
  font-weight: normal;
}

.main3 img {
  width: 100%;
  height: 300px;
}


@media (min-width: 600px) {

  /* header */
  header .hed img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .hed img:nth-of-type(2) {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 42%;
    top: 40%;
  }

  header .hed {
    position: relative;
    display: inline-block;
    text-align: center;

  }

  header .hed p {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .aaa {
    margin-top: 200px;
  }

  .aaa h2 {
    letter-spacing: 16px;
    font-size: 18px;
    font-weight: normal;
  }

  section h2 {
    color: white;
    writing-mode: vertical-rl;
    margin: auto;
  }

  /* section1 */
  .main {
    display: flex;
   margin: 0 180px;
    gap: 130px;
    left: 50%;
  }
  .main img {
    display: block;
    width: 400px;
    height: auto;
    margin: 0 auto;
  }
  .desc {
    color: white;
  }

  /* お品書き */
  .img2 {
    list-style: none;
    margin: 18px 0 0;
    padding: 0;
    display: flex !important;
    gap: 16px;
    flex-wrap: wrap;
  }

  .aaa {
    margin-bottom: 200px;
  }

  .img2 li {
    width: calc((100% - 60px) / 4);
    height: 150px;
    margin-top: 10px;
    margin-bottom: 380px;
  }

  .img2 img {
    width: 300px;
    height: 230px;
  }

  .img2 h2 {
    color: white;
  }

  .img2 p {
    color: white;
  }

  /* section img3 */
  .img3 {
    margin-top: 100px;
    display: block;
    width: 100%;
    height: 500px;
  }

  /* main1*/

  .main1 {
    display: flex;
    margin: 30px 200px 0px 200px;
    gap: 32px;
    padding: 30px 16px 10px;
  }

  .main1 img {
    width: 100%;
    height: 300px;
  }

  .desc a {
    all: unset;
    border: 1px solid white;
    color: #fbfeff;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 60px;
  }

  .desc p {
    padding-bottom: 40px;
    font-size: 16px;
  }

  .desc a:hover {
    background-color: white;
    transition: none;
    color: black;
  }

  span {
    font-size: 160%;
  }

  .yyy .img {
    margin: auto;
    display: block;
    padding: 100px;
  }

  .yyy {
    margin: 20px 500px 0px 630px;
  }

  /* 良くある質問 */


  .aa1 {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    writing-mode: vertical-rl;
 
  }

  /* qqq */
  .qqq {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 0 8px;
    margin-top: 200px;
    margin: 10px;
    width: 80%;
  }
.lol{
  margin: 80px 100px;
}
  dl {
    padding: 50px 6px;
  }

  dl div {
    padding: 8px 8px;
  }

  dd {
    display: block;
    margin-inline-start: 40px;
    unicode-bidi: isolate;
  }

  .img5 {
    position: relative;
  }

  .img5 img {
    width: 100%;
    height: 1300px;
  }

  /* お知らせ */
  .aa9 {
    writing-mode: vertical-rl;
    margin: 0 0 0 150px;
    color: white;
  }

  .aa9 h3 {
    font-size: 14px;
    font-weight: normal;
  }

  .timeline {
    padding: 32px 55px;
    padding-bottom: 60px;
    display: flex;
  }

  .timeline1 {
    margin: 0px;
    padding: 16px;
    display: flex;
    text-align: center;

  }

  .timeline1 p {
    padding: 16px;
    font-size: 14px;
    color: white;
  }

  .timeline .eee {
    text-align: center;
    margin: 80px 100px;
  }

  .timeline a {
    all: unset;
    border: 1px solid white;
    color: #fbfeff;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 70px;
    margin: 80px 0 0 auto;
  }

  .btn1 {
    margin: 16px 80px 0 50px;
    padding: 20px 80px
  }

  .timeline a:hover {
    background-color: white;
    transition: none;
    color: black;
  }

  .eee p:hover {
    color: rgba(146, 146, 247, 0.792);
  }

  /* out */

  .img6 {
  position: absolute;
    width: 50px;
    height: 50px;
    left: 45%;
    top: 30%;
  }

  .img7 {
    position: relative;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  }
 
 
  

  .out .ttt {
    position: absolute;
    left: 32%;
    display: flex;
    gap: 200px;
    text-align: center;
    padding: 250px 10px 150px;
    color: white;
  }

  .tt1 p {
    margin: 40px 0px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .out a {
    all: unset;
    border: 1px solid white;
    color: #fbfeff;
    font-size: 14px;
    cursor: pointer;
    padding: 9px 50px;
    margin: 0 0 0 auto;
  }

  .out a:hover {
    background-color: white;
    transition: none;
    color: black;
  }


  /* acces */
  .kkk {
    position: relative;
  }

  
     .fin1 {
      display: flex;
      position: absolute;
      top: 16%;
      text-align: center;
      margin-top: 150px;
    width: 100%;
    height: 400px;
    }
  iframe {
    position: absolute;
    height: 375px;
    width: 400px;
    display: block;
  }


  .access1 p {
    margin: 0;
    font-size: 14px;
    color: white;

  }

  .access1 {
    gap: 200px;
    margin: 12px;
    padding: 3px 5px 3px;
  }

  .access {
    position: absolute;
    margin: 0 0 0 700px;
    top: 28%;
  }

  .kkkk {
    width: 100%;
    height: 1200px;
  }

  .aa100 h2 {
    position: absolute;
    top: 15%;
    left: 62%;
    color: white;
    font-size: 18px;
    margin: 0;
    font-weight: normal;
  }

  .kkk .img88 {
    top: 5%;
    left: 45%;
   margin: 0;
    width: 80px;
    height: 80px;
  }

  /* footer */

  footer {
    position: absolute;
    bottom: 100px;
    left: 45%;
    text-align: center;
    padding: 6px;
  }

  small {
    font-size: 8px;
    color: white;
  }

  /*/* main3*/
.hed01{
  margin: 0 0  0 50px;
}
  
.main3 {
  display: flex;
 background: white;
  margin: 100px;
  gap: 20px;
  padding: 10px;
}
.main3 h3{
  font-size: 16px;
  font-weight: normal;
}

.main3 img {
  width: 100%;
  height: 300px;
}  */
  .ooo {
    opacity: 0;
    transition: opacity 6s, transform 0.5s;
  }

  .ooo {
    transform: translateY(0px);
  }

  .ooo.appear {
    opacity: 1;
    transform: none;
  }

  .aaa {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  .aaa.r {
    transform: translateY(-10px);
  }

  .aaa.appear {
    opacity: 1;
    transform: none;
  }

  .img2 {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  .img2.r {
    transform: translateY(-10px);
  }

  .img2.appear {
    opacity: 1;
    transform: none;
  }

  .pic1 {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  .pic1.r {
    transform: translateY(-10px);
  }

  .pic1.appear {
    opacity: 1;
    transform: none;
  }

  .desc {
    opacity: 0;
    transition: opacity 3s, transform 4.5s;
  }

  .desc {
    transform: translateX(+150px);
  }

  .desc.appear {
    opacity: 1;
    transform: none;
  }

  .aa1 {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  .aa1.r {
    transform: translateY(0);
  }

  .aa1 h2 {
    color: black;
    letter-spacing: 8px;
    font-size: 18px;
    font-weight: normal;

  }

  .aa1.appear {
    opacity: 1;
    transform: none;
  }

  .lol {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  .lol.r {
    transform: translateY(0);
  }

  .lol.appear {
    opacity: 1;
    transform: none;
  }

  .timeline {
    opacity: 0;
    transition: opacity 0.5s, transform 1s;
  }

  .timeline.r {
    transform: translateY(0);
  }

  .timeline.appear {
    opacity: 1;
    transform: none;
  }

  .access1 {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  .access1.r {
    transform: translateY(0);
  }

  .access1.appear {
    opacity: 1;
    transform: none;
  }

  footer {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  footer r {
    transform: translateY(0);
  }

  footer.appear {
    opacity: 1;
    transform: none;
  }

  .tot {
    opacity: 0;
    transition: opacity 3s, transform 2s;
  }

  .tot r {
    transform: translateY(0);
  }

  .tot.appear {
    opacity: 1;
    transform: none;
  }

  /*  */
  .sen {
    width: 50px;
    height: 100px;
    margin: 0 0 0 300px;
    background-image: linear-gradient(-45deg,
        transparent 51%,
        white 51%,
        white 52%,
        transparent 52%);
  }

  .sen1 {
    width: 50px;
    height: 100px;
    margin: 0 0 0 985px;
    background-image: linear-gradient(-45deg,
        transparent 51%,
        white 51%,
        white 52%,
        transparent 52%);
  }

  /* Ａp追加 */
  #to_top {
    position: fixed;
    right: 16px;
    bottom: 16px;
    opacity: 0;
  }

  #to_top.scrolled {
    opacity: 1;
  }



  /* acces */
  .kkk {
    position: relative;
  }

  .fin11 {
    position: absolute;
    display: flex;
    top: 50%;
  }




  .access1 p {
    margin: 0;
    font-size: 14px;
    color: white;

  }

  .access1 {
    gap: 100px;
    margin: 12px;
    padding: 3px 5px 3px;
  }

  .access7 {
    position: absolute;
    margin: 0 0 0 700px;
    top: 900%;
    left: 1000px;
  }

  .kkkk {
    width: 100%;
    height: 1200px;
  }

  .aa10 h2 {
    position: absolute;
    top: 22%;
    color: white;
    writing-mode: vertical-rl;
    font-size: 18px;
    margin: 50px 0 0 920px;
    font-weight: normal;
  }


  .img88 {
    position: absolute;
    top: 5%;
    width: 80px;
    height: 80px;
    display: block;
    margin: 30px 0 0 650px;
  }




  /* footer */

  .fofo {
    position: absolute;
    top: 410%;
    left: 45%;
    text-align: center;
    padding: 6px;
  }

  small {
    font-size: 8px;
    color: white;
  }



}














/*  */
.ooo {
  opacity: 0;
  transition: opacity 6s, transform 0.5s;
}

.ooo {
  transform: translateY(0px);
}

.ooo.appear {
  opacity: 1;
  transform: none;
}

.aaa {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.aaa.r {
  transform: translateY(-10px);
}

.aaa.appear {
  opacity: 1;
  transform: none;
}

.img2 {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.img2.r {
  transform: translateY(-10px);
}

.img2.appear {
  opacity: 1;
  transform: none;
}

.pic1 {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.pic1.r {
  transform: translateY(-10px);
}

.pic1.appear {
  opacity: 1;
  transform: none;
}

.desc {
  opacity: 0;
  transition: opacity 3s, transform 4.5s;
}

.desc {
  transform: translateX(+150px);
}

.desc.appear {
  opacity: 1;
  transform: none;
}

.aa1 {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.aa1.r {
  transform: translateY(0);
}

.aa1 h2 {
  color: black;
  letter-spacing: 8px;
  font-size: 18px;
  font-weight: normal;

}

.aa1.appear {
  opacity: 1;
  transform: none;
}

.lol {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.lol.r {
  transform: translateY(0);
}

.lol.appear {
  opacity: 1;
  transform: none;
}

.timeline {
  opacity: 0;
  transition: opacity 0.5s, transform 1s;
}

.timeline.r {
  transform: translateY(0);
}

.timeline.appear {
  opacity: 1;
  transform: none;
}

.access1 {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.access1.r {
  transform: translateY(0);
}

.access1.appear {
  opacity: 1;
  transform: none;
}

footer {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

footer r {
  transform: translateY(0);
}

footer.appear {
  opacity: 1;
  transform: none;
}

.tot {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.tot r {
  transform: translateY(0);
}

.tot.appear {
  opacity: 1;
  transform: none;
}










